[submodule "poky"]
	path = poky
	url = https://course-gitlab.tuni.fi/comp-ce-460-embedded-linux-drivers_2024-2025/poky.git
[submodule "meta-pynq"]
	path = meta-pynq
	url = https://course-gitlab.tuni.fi/comp-ce-460-embedded-linux-drivers_2024-2025/meta-pynq.git
[submodule "meta-xilinx"]
	path = meta-xilinx
	url = https://course-gitlab.tuni.fi/comp-ce-460-embedded-linux-drivers_2024-2025/meta-xilinx.git
